<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="1611 Book Club" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Bhaskar Mookerji</a>
    <a class="extra" href="/">home</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="contact">
      <p>
        Bhaskar Mookerji<br />
        mookerji@gmail.com<br />
        <a href="/about.html">About</a>
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/mookerji/">github.com/mookerji</a><br />
        <a href="http://facebook.com/mookerji/">facebook.com/mookerji</a><br />
      </p>
    </div>
  </div>
</div>

</body>
</html>
